.app {
  width: 100%;
}
.root-container {
  margin: auto;
  width: 50%;
  text-align: center;
}

.container {
  /* height: 20rem; */

  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr;
  /* grid-template-rows: 1fr, 1fr, 1fr; */
}

.box {
  border: 2px solid black;
  /* width: 50px; */
  height: 100px;
  /* justify-self: stretch;
  align-self: stretch; */
  align-items: stretch;
  text-align: center;
  font-size: 50px;
}

.btn {
  margin-top: 1rem;
  background-color: cornflowerblue;
  color: #ffff;
  font-size: larger;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
}
