.container {
  /* height: 20rem; */
  width: 30rem;
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr;
  /* grid-template-rows: 1fr, 1fr, 1fr; */
}

.box {
  border: 2px solid black;
  /* width: 50px; */
  height: 100px;
  /* justify-self: stretch;
  align-self: stretch; */
  align-items: stretch;
  text-align: center;
  font-size: 50px;
}
