.container {
  /* height: 20rem; */
  width: 30rem;
  display: grid;
  grid-template-columns: [first] 1fr [line2] 1fr [line3] 1fr;
  /* grid-template-rows: 1fr, 1fr, 1fr; */
}

.box {
  border: 2px solid black;
  /* width: 50px; */
  height: 100px;
  /* justify-self: stretch;
  align-self: stretch; */
  align-items: stretch;
  text-align: center;
  font-size: 50px;
}
.app {
  position: relative;
}

.hidden {
  display: none;
}
.main-div {
  box-shadow: 2px 2px 2px black;
  z-index: 10;
  position: absolute;
  width: 10rem;
  height: 10rem;
  text-align: center;
  font-weight: 500;
  font-size: xx-large;
  border: 2px solid black;
  top: 50%;
  left: 50%;

  background-color: antiquewhite;
}
